<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="io.choerodon.issue.infra.mapper.FieldConfigSchemeMapper">
    <select id="fulltextSearch" resultType="io.choerodon.issue.domain.FieldConfigScheme">
        SELECT * FROM field_config_scheme
        WHERE 1=1
        <if test="fieldConfigScheme.organizationId != null">
            AND organization_id = #{fieldConfigScheme.organizationId}
        </if>
        <if test="fieldConfigScheme.name != null">
            AND name LIKE concat('%',#{fieldConfigScheme.name},'%')
        </if>
        <if test="fieldConfigScheme.description != null">
            AND description LIKE concat('%',#{fieldConfigScheme.description},'%')
        </if>
        <if test="param != null">
            AND ( name LIKE concat('%',#{param},'%')
            OR description LIKE concat('%',#{param},'%')
            )
        </if>
    </select>

    <select id="queryByFieldConfigId" resultType="io.choerodon.issue.domain.FieldConfigScheme">
        SELECT
        fcs.*
        FROM field_config_scheme fcs
        LEFT JOIN field_config_scheme_line fcsl on fcs.id = fcsl.scheme_id
        WHERE 1=1
        <if test="organizationId != null">
            AND fcs.organization_id = #{organizationId}
        </if>
        <if test="fieldConfigId != null">
            AND fcsl.field_config_id = #{fieldConfigId}
        </if>
    </select>
</mapper>