<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="io.choerodon.issue.infra.mapper.FieldConfigSchemeLineMapper">
    <select id="queryBySchemeId" resultType="io.choerodon.issue.domain.FieldConfigSchemeLine">
        select fcsl.* ,
        it.name AS issueTypeName,
        fc.name AS fieldConfigName,
        it.icon AS issueTypeIcon
        FROM field_config_scheme_line fcsl
        left join issue_type it on it.id=fcsl.issue_type_id
        left join field_config fc on fc.id=fcsl.field_config_id
        where  fcsl.scheme_id = #{schemeId}
    </select>

    <delete id="deleteBySchemeId" >
        delete from field_config_scheme_line
        where scheme_id = #{schemeId}
    </delete>
</mapper>