<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="io.choerodon.issue.infra.mapper.FieldConfigLineMapper">
    <select id="queryByFieldConfigId" resultType="io.choerodon.issue.domain.FieldConfigLine">
        SELECT fcl.* ,
        f.name AS fieldName,
        f.description AS fieldDescription
        FROM field_config_line fcl
        left join field f on f.id=fcl.field_id
        WHERE fcl.field_config_id = #{id};

    </select>

    <select id="queryById" resultType="io.choerodon.issue.domain.FieldConfigLine">
        SELECT fcl.* ,
        f.name AS fieldName,
        f.description AS fieldDescription
        FROM field_config_line fcl
        left join field f on f.id=fcl.field_id
        WHERE fcl.id = #{id};
    </select>

    <delete id="deleteByFieldId">
        delete from field_config_line
        where field_id = #{fieldId}
    </delete>

    <delete id="deleteByFieldConfigId">
        delete from field_config_line
        where field_config_id = #{id}
    </delete>

    <select id="searchFull" resultType="io.choerodon.issue.domain.FieldConfigLine">
        SELECT
        f.name AS fieldName,f.description AS fieldDescription,fc.*
        FROM field_config_line fc
        left join field f on fc.field_id = f.id
        where fc.field_config_id = #{fieldConfigId}
        <if test="param != null">
            AND ( f.name LIKE concat('%',#{param},'%')
            OR f.description LIKE concat('%',#{param},'%')
            )
        </if>
    </select>
</mapper>