<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="io.choerodon.issue.infra.mapper.FieldOptionMapper">

    <select id="queryByFieldId" resultType="io.choerodon.issue.domain.FieldOption">
        select * FROM field_option
        where 1 = 1
        <if test="fieldId != null">
            AND field_id = #{fieldId}
        </if>
        <if test="parentId != null">
            AND parent_id = #{parentId}
        </if>
    </select>

    <delete id="deleteByFieldId">
        delete from field_option
        where field_id = #{fieldId}
    </delete>

</mapper>