<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="io.choerodon.issue.infra.mapper.IssueFieldValueMapper">
    <select id="queryByIssueId" resultType="io.choerodon.issue.domain.IssueFieldValue">
        SELECT *
        FROM issue_field_value
        WHERE issue_id = #{issueId}
    </select>
    <select id="queryIssueIdsBySearch" resultType="java.lang.Long">
        SELECT ifv1.issue_id
        FROM issue_field_value ifv1
        WHERE ifv1.project_id = #{projectId}
        <foreach collection="fieldValues" item="search" separator="AND" >
            AND ifv1.issue_id IN (
                SELECT ifv2.issue_id
                FROM issue_field_value ifv2
                WHERE ifv2.project_id = #{projectId}
                AND ifv2.field_id = #{search.fieldId}
                <choose>
                    <when test="search.fieldType == 'input'||search.fieldType == 'text'||search.fieldType == 'time'|| search.fieldType == 'datetime'||search.fieldType == 'number'||search.fieldType == 'url'||search.fieldType == 'label'">
                        AND position(#{search.fieldValue} IN ifv2.field_value)
                    </when>
                    <when test="search.fieldType == 'radio' || search.fieldType == 'checkbox' ||search.fieldType == 'single'||search.fieldType == 'multiple'||search.fieldType == 'cascade'">
                        AND ifv2.field_value IN (
                        SELECT * FROM field_option fo
                        WHERE position(#{search.fieldValue} IN fo.value)
                        )
                    </when>
                </choose>
            )
        </foreach>
    </select>
</mapper>
