<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="io.choerodon.issue.infra.mapper.IssueMapper">
    <select id="queryIssuesByArgs" resultType="io.choerodon.issue.domain.Issue">
        SELECT i.id,
        i.issue_type_id,
        i.subject,
        i.description,
        i.reporter_id,
        i.handler_id,
        i.priority_id,
        i.status_id,
        i.issue_tag,
        i.handle_date,
        i.solve_date,
        i.project_id,
        it.icon AS issueTypeIcon,
        it.name AS issueTypeName,
        p.name AS priorityName,
        CONCAT_WS('-', pi.project_code, i.code) AS code
        FROM issue i
        LEFT JOIN issue_type it ON it.id = i.issue_type_id
        LEFT JOIN priority p ON p.id = i.priority_id
        LEFT JOIN project_info pi ON pi.project_id = i.project_id
        WHERE 1=1 AND i.project_id = #{projectId}
        <if test='searchArgs != null'>
            <if test='searchArgs.code != null and searchArgs.code != "" '>
                AND position(#{searchArgs.code} IN i.code)
            </if>
            <if test='searchArgs.subject != null and searchArgs.subject != "" '>
                AND position(#{searchArgs.subject} IN i.subject)
            </if>
            <if test='searchArgs.description != null and searchArgs.description != "" '>
                AND position(#{searchArgs.description} IN i.description)
            </if>
            <if test='searchArgs.issueTypeName != null and searchArgs.issueTypeName != "" '>
                AND position(#{searchArgs.issueTypeName} IN it.name)
            </if>
            <if test='searchArgs.priorityName != null and searchArgs.priorityName != "" '>
                AND position(#{searchArgs.priorityName} IN p.name)
            </if>
            <if test='searchArgs.reporterId != null and searchArgs.reporterId != ""'>
                AND i.reporter_id = #{searchArgs.reporterId}
            </if>
            <if test='searchArgs.handlerId != null and searchArgs.handlerId != ""'>
                AND i.reporter_id = #{searchArgs.handlerId}
            </if>
        </if>
        <if test='searchArgsIds != null'>
            <if test='searchArgsIds.reporterIds != null '>
                AND i.reporter_id IN
                <choose>
                    <when test="searchArgsIds.reporterIds.size > 0">
                        <foreach collection="searchArgsIds.reporterIds" item="reporterId" open="(" separator=","
                                 close=")">
                            #{reporterId}
                        </foreach>
                    </when>
                    <otherwise>
                        (null)
                    </otherwise>
                </choose>
            </if>
            <if test='searchArgsIds.handlerIds != null'>
                AND i.handler_id IN
                <choose>
                    <when test="searchArgsIds.handlerIds.size > 0">
                        <foreach collection="searchArgsIds.handlerIds" item="handlerId" open="(" separator=","
                                 close=")">
                            #{handlerId}
                        </foreach>
                    </when>
                    <otherwise>
                        (null)
                    </otherwise>
                </choose>
            </if>
            <if test='searchArgsIds.issueIds != null'>
                AND i.id IN
                <choose>
                    <when test="searchArgsIds.issueIds.size > 0">
                        <foreach collection="searchArgsIds.issueIds" item="issueId" open="(" separator=","
                                 close=")">
                            #{issueId}
                        </foreach>
                    </when>
                    <otherwise>
                        (null)
                    </otherwise>
                </choose>
            </if>
        </if>
        <if test='param != null'>
            AND ( i.code LIKE concat('%',#{param},'%')
            OR i.subject LIKE concat('%',#{param},'%')
            OR i.description LIKE concat('%',#{param},'%')
            OR it.name LIKE concat('%',#{param},'%')
            OR p.name LIKE concat('%',#{param},'%')
            <if test='paramIds.reporterIds != null and paramIds.reporterIds.size > 0'>
                OR i.reporter_id IN
                <foreach collection="paramIds.reporterIds" item="reporterId" open="(" separator=","
                         close=")">
                    #{reporterId}
                </foreach>
            </if>
            <if test='paramIds.handlerIds != null and paramIds.handlerIds.size > 0'>
                OR i.handler_id IN
                <foreach collection="paramIds.handlerIds" item="handlerId" open="(" separator=","
                         close=")">
                    #{handlerId}
                </foreach>
            </if>
            )
        </if>
    </select>

    <select id="queryById" resultType="io.choerodon.issue.domain.Issue">
        SELECT i.*,
        it.name AS issueTypeName,
        p.name AS priorityName,
        CONCAT_WS('-', pi.project_code, i.code) AS code
        FROM issue i
        LEFT JOIN issue_type it ON it.id = i.issue_type_id
        LEFT JOIN priority p ON p.id = i.priority_id
        LEFT JOIN project_info pi ON pi.project_id = i.project_id
        WHERE i.id = #{issueId}
        AND i.project_id = #{projectId}
    </select>
</mapper>
