<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="io.choerodon.issue.infra.mapper.IssueReplyMapper">
    <select id="fulltextSearch" resultType="io.choerodon.issue.domain.IssueReply">
        SELECT * FROM issue_reply
        WHERE 1=1
        <if test="param != null">
        AND ( issue_id LIKE concat('%',#{param},'%')
        OR user_id LIKE concat('%',#{param},'%')
            OR content LIKE concat('%',#{param},'%')
            OR source_reply_id LIKE concat('%',#{param},'%')
        )
    </if>
    </select>
</mapper>