<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="io.choerodon.issue.infra.mapper.ProjectConfigMapper">
    <select id="queryByProjectId" resultType="io.choerodon.issue.domain.ProjectConfig">
        SELECT *
        FROM project_config
        WHERE project_id = #{projectId}
    </select>

    <select id="queryProjectIdsBySchemeIds" resultType="java.lang.Long">
        SELECT project_id
        FROM project_config
        WHERE 1 = 1 AND
        <if test="stateMachineSchemeIds != null and stateMachineSchemeIds.size()>0">
            state_machine_scheme_id IN
            <foreach item="item" index="index" collection="stateMachineSchemeIds" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
    </select>


</mapper>
