<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="io.choerodon.issue.infra.mapper.StateMachineSchemeMapper">

    <select id="fulltextSearch" resultType="io.choerodon.issue.domain.StateMachineScheme">
        SELECT SMS.*
        FROM state_machine_scheme SMS
        WHERE 1=1
        <if test="scheme.organizationId != null">
            AND SMS.organization_id = #{scheme.organizationId}
        </if>
        <if test="scheme.name != null">
            AND SMS.name LIKE concat('%',#{scheme.name},'%')
        </if>
        <if test="scheme.description != null">
            AND SMS.description LIKE concat('%',#{scheme.description},'%')
        </if>
        <if test="param != null">
            AND ( SMS.name LIKE concat('%',#{param},'%')
            OR SMS.description LIKE concat('%',#{param},'%')
            )
        </if>
    </select>

    <select id="queryByIds" resultType="io.choerodon.issue.domain.StateMachineScheme">
        SELECT SMS.*
        FROM state_machine_scheme SMS
        WHERE 1=1
        <if test="organizationId != null">
            AND SMS.organization_id = #{scheme.organizationId}
        </if>
        <if test="schemeIds != null and schemeIds.size()>0">
            AND SMS.id IN
            <foreach item="item" index="index" collection="schemeIds" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
    </select>

</mapper>
